# http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,props}]
indent_style = space
indent_size = 2

[*.cs]
indent_style = space
indent_size = 4

# CS1591: Missing XML comment for publicly visible type or member
# Covered by SA1600
dotnet_diagnostic.CS1591.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
